# From web server repo
---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 9000
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: true
# PointerAlignment: Left
FixNamespaceComments: false
AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: false
# From 3150 repo
# ---
# BasedOnStyle: LLVM
# IndentWidth: 4
# BreakBeforeBraces: Attach
# AllowShortFunctionsOnASingleLine: None
# AlwaysBreakTemplateDeclarations: Yes
# # AlwaysBreakAfterReturnType: None
# PenaltyReturnTypeOnItsOwnLine: 10000
# AllowAllArgumentsOnNextLine: false
# AllowAllParametersOfDeclarationOnNextLine: false
# ColumnLimit: 100
# AlignAfterOpenBracket: Align
# PenaltyBreakBeforeFirstCallParameter: 9000
# BinPackArguments: false
# BinPackParameters: false
# # DerivePointerAlignment: true
# PointerAlignment: Left
# FixNamespaceComments: false
# AccessModifierOffset: -4
# AllowShortEnumsOnASingleLine: false
